*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #080808;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

#root {
  height: 100%;
}

/* iOS safe area support */
.app {
  padding-bottom: calc(80px + env(safe-area-inset-bottom));
}

.bnav {
  padding-bottom: env(safe-area-inset-bottom);
}
